body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* App.css ama index.css */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .card {
  background-color: #1e1e1e;
  color: #fff;
}

.dark-mode .top-bar button {
  background-color: #333;
  color: #fff;
}
